# Entorno virtual
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo

# Variables de entorno
.env
*.env
entornoLocal.env

# Editor / sistema
.vscode/
.idea/
.DS_Store

# Logs / temporales
*.log
*.tmp

# archivos md 
*.md
.DOCUMENTACION_TECNICA.md
.Documentacion-Server.md
.CAMBIOS_2026-03-23.md
